.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  font-size: 1.5em;
  border: 1px solid #000;
}

.container > h1 {
  margin: 0;
  align-self: center;
}
